body {
  background-color: #ffff99;
  font-family: helvetica, sans-serif;
}
 
h1 {
  color: #ff6600;
  border: 3px solid #ff6600;
  font-family: Courier, monospace; 
}
 
h2 {
  background-color: #ff6600;
  color: #ffff99;
  font-family: Courier, monospace;
  height: 80px;
  text-align: center;
}
 
ol {
    background-color: #ffcc00;
}
 
li {
 color: #ffff99;
}
 
p {
 border: 3px dashed #ffcc00 ;
}